Exercises/.vs/
Exercises/Debug/
Exercises/Exercises/Debug/
HistogramFilter/.vs/
HistogramFilter/Debug/
HistogramFilter/HistogramFilter/Debug/
NumberGenerator/.vs/
NumberGenerator/Debug/
SeleniumScrape/.vs/
SeleniumScrape/SeleniumScrape/bin/
SeleniumScrape/SeleniumScrape/obj/
